body {
    background-color: beige;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid midnightblue;
}

h1 {
    color: midnightblue;
}
